/* index.css */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #121212;
  --color-background: #f8f8f8;
  --color-text: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}

/* Tombol utama */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #1f1f1f;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Animasi Toast */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
